# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [8]:
a=50
b=50
print (a is b)

True

Змінні рівні за значенням та посилаються на один і той самий обʼєкт в памʼяті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [13]:
x=True
print (isinstance (x, bool))
print (isinstance (x, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [15]:
a=10
b=2.7
print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a//b)
print(a%b)
print(a**b)

12.7
7.3
3.7037037037037033
27.0
3.0
1.8999999999999995
501.18723362727246

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [19]:
c=True
b=int(b)
print (b)
c=int(c)
print (c)

2
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [20]:
str1=''
str2=str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [21]:
string_with_apostrophe = 'Цей рядок містить апостроф: \''
raw_string_with_apostrophe = r'Цей рядок містить апостроф: \''

print(string_with_apostrophe)
print(raw_string_with_apostrophe)

Цей рядок містить апостроф: '
Цей рядок містить апостроф: \'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [26]:
my_name="Setmanbetov"
str=f"My surname is {my_name}"
print (str);

My surname is Setmanbetov

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [34]:
str="My dog is crazy."
list=str.lower().split( )
print(list)

['my', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [54]:
list1=[1,2,3,4]
list2 = list(range(10))
length=len(list1)
print(length)

4

TypeError: 'list' object is not callable

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [56]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.append(list2)
print(list1)

[1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [57]:
list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
last_row = list[-1]
first_element_last_row = last_row[0]
print(first_element_last_row)

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [58]:
list = [1, 'two', 3.0, True, [5, 6]]
new_list = list[2:-2]
print(new_list)

[3.0]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [71]:
student = ("Olga",)
print(student)

('Olga',)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожості:
-Як список, так і кортеж можна індексувати.
-Обидва типи даних підтримують зрізи (slicing).
-Як список, так і кортеж можна перебирати за допомогою циклу for, отримуючи доступ до кожного елемента один за одним.

Відмінності:
-Кортеж є не змінним (immutable), в той час як список є змінним (mutable).
-Синтаксис для створення кортежу використовує круглі дужки ( ), тоді як для створення списку використовується квадратні дужки [ ].
-Операції з кортежем працюють трохи швидше, ніж зі списком, оскільки кортежі є не змінними і мають менше оброблюваних операцій.

Випадки використання:
Список використовується там, де потрібно змінювати набір елементів після створення, або якщо потрібно використовувати методи списку, такі як append(), pop(), remove() і т. д.
А кортеж зазвичай використовується там, де дані є сталими або не змінними, і коли не потрібно використовувати методи списку. Кортежі також використовуються для передачі даних у функції, коли ви не хочете, щоб дані були змінені всередині функції.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [64]:
tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
result = tuple[::-2]
print(result)

(1.2, 3.3, 5.3, 7.3, 9.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [65]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)

print(my_set)

{1, 2, 3}

Так, множини в Python є змінним типом даних.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [67]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

У множинах не може бути дубльованих елементів. Коли ми конвертуємо список у множину, усі дубльовані елементи видаляються автоматично, залишаючи лише унікальні елементи.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [68]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
difference_set = set1.difference(set2)
intersection_set = set1.intersection(set2)
symmetric_difference_set = set1.symmetric_difference(set2)
print(union_set)
print(difference_set)
print(intersection_set)
print(symmetric_difference_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5}
{1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [70]:
dict = {}
dict[42] = "integer"
dict[3.14] = "float"
dict["key"] = "string"
dict[(1, 2, 3)] = "tuple"
print(dict)

{42: 'integer', 3.14: 'float', 'key': 'string', (1, 2, 3): 'tuple'}

Ні, список не може бути ключем у словнику. Ключі у словнику повинні бути не змінними об'єктами. Списки є змінними, тому вони не можуть бути використані як ключі у словнику.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [73]:
nested_dict = {
    'key1': 'value1',
    'key2': {
        'nested_key1': 'nested_value1',
        'nested_key2': {
            'inner_key': 'inner_value'
        }
    }
}
inner_value = nested_dict['key2']['nested_key2']['inner_key']
print(inner_value)

inner_value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.